<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/css/index.css">
        <title>Title</title>
    </head>
    <body>
        <div class="topo">
            <h1>Sistema de agendamento de serviços</h1>
        </div>
        <div class="menutopo">
            <a href="/mostrarlogin">Login</a>
            <a href="/pagcadastro">Cadastro</a>
            <a href="/listar">Listar</a>

        </div>
        <div class="conteudo">
            <p>djfhsjdkh fsjkdhfkjsd fjkhsdkjfhsjkdhfks hdfkjhsdjfkhsdhf
            sdfsldkfjsldjfklsjdfkljslkdjflsjdlfjsdlkfj sdf sd fskldjfsd</p>
            <div class="imagem">
                <img src="../static/imagens/foto.jpg", width="600" height="430">
            </div>
        </div>
    </body>
</html>