<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/css/paglogin.css">
        <title>Title</title>
    </head>
    <body>
        <div class="topo">
            <h1>Sistema de agendamento de serviços</h1>
        </div>
        <div class="menutopo">
            <a href="/mostrarlogin">Login</a>
            <a href="/pagcadastro">Cadastro</a>
            <a href="/listar">Listar</a>

        </div>
        <div class="conteudo">
            <div class="formulario">
                <form>
                    <input type="text" placeholder="Digite seu login"><br>
                    <input type="password" placeholder="Digite sua senha"><br><br>
                    <button type="submit">Fazer login</button>

                </form>
            </div>

        </div>
    </body>
</html>